[submodule "packages/mpmath"]
	path = packages/mpmath
	url = https://github.com/fredrik-johansson/mpmath.git
[submodule "packages/nbconvert"]
	path = packages/nbconvert
	url = https://github.com/holzschu/nbconvert.git
[submodule "packages/ipykernel"]
	path = packages/ipykernel
	url = https://github.com/holzschu/ipykernel.git
[submodule "packages/notebook"]
	path = packages/notebook
	url = https://github.com/holzschu/notebook.git
[submodule "packages/jupyter_client"]
	path = packages/jupyter_client
	url = https://github.com/holzschu/jupyter_client.git
[submodule "packages/numpy"]
	path = packages/numpy
	url = https://github.com/holzschu/numpy.git
[submodule "packages/cython"]
	path = packages/cython
	url = https://github.com/holzschu/cython.git
[submodule "packages/matplotlib"]
	path = packages/matplotlib
	url = https://github.com/holzschu/matplotlib.git
