[submodule "packages/mpmath"]
	path = packages/mpmath
	url = https://github.com/fredrik-johansson/mpmath.git
[submodule "packages/nbconvert"]
	path = packages/nbconvert
	url = https://github.com/holzschu/nbconvert.git
[submodule "packages/ipykernel"]
	path = packages/ipykernel
	url = https://github.com/holzschu/ipykernel.git
[submodule "packages/notebook"]
	path = packages/notebook
	url = https://github.com/holzschu/notebook.git
[submodule "packages/jupyter_client"]
	path = packages/jupyter_client
	url = https://github.com/holzschu/jupyter_client.git
[submodule "packages/numpy"]
	path = packages/numpy
	url = https://github.com/holzschu/numpy.git
[submodule "packages/cython"]
	path = packages/cython
	url = https://github.com/holzschu/cython.git
	branch = 0.29.x
[submodule "packages/matplotlib"]
	path = packages/matplotlib
	url = https://github.com/holzschu/matplotlib.git
[submodule "packages/jupyterlab"]
	path = packages/jupyterlab
	url = https://github.com/holzschu/jupyterlab.git
[submodule "packages/nbclassic"]
	path = packages/nbclassic
	url = https://github.com/holzschu/nbclassic.git
[submodule "packages/scipy"]
	path = packages/scipy
	url = https://github.com/holzschu/scipy.git
[submodule "packages/bokeh"]
	path = packages/bokeh
	url = https://github.com/holzschu/bokeh
[submodule "packages/pyerfa"]
	path = packages/pyerfa
	url = https://github.com/liberfa/pyerfa
[submodule "packages/gym"]
	path = packages/gym
	url = https://github.com/openai/gym.git
[submodule "packages/coremltools"]
	path = packages/coremltools
	url = https://github.com/holzschu/coremltools.git
[submodule "packages/scikit-learn"]
	path = packages/scikit-learn
	url = https://github.com/holzschu/scikit-learn.git
[submodule "packages/word_cloud"]
	path = packages/word_cloud
	url = https://github.com/amueller/word_cloud
[submodule "packages/qutip"]
	path = packages/qutip
	url = https://github.com/qutip/qutip.git
[submodule "packages/SuiteSparse"]
	path = packages/SuiteSparse
	url = https://github.com/DrTimothyAldenDavis/SuiteSparse.git
[submodule "packages/Fiona"]
	path = packages/Fiona
	url = https://github.com/Toblerity/Fiona
[submodule "packages/rasterio"]
	path = packages/rasterio
	url = https://github.com/mapbox/rasterio.git
[submodule "packages/mapclassify"]
	path = packages/mapclassify
	url = https://github.com/pysal/mapclassify.git
[submodule "packages/pysal"]
	path = packages/pysal
	url = https://github.com/pysal/pysal.git
[submodule "packages/statsmodels"]
	path = packages/statsmodels
	url = https://github.com/statsmodels/statsmodels.git
[submodule "packages/pygeos"]
	path = packages/pygeos
	url = https://github.com/pygeos/pygeos.git
[submodule "packages/scikit-build"]
	path = packages/scikit-build
	url = https://github.com/holzschu/scikit-build.git
[submodule "packages/opencv-python"]
	path = packages/opencv-python
	url = https://github.com/holzschu/opencv-python.git
[submodule "packages/pointpats"]
	path = packages/pointpats
	url = https://github.com/pysal/pointpats
